
<div class="homeParent">
	<div class="home-container">
		<div class="loginContainer">
			<div class="row buttonContainer">
				<a href="/#sign_up"><div class="col signupButton">SignUp
				</div></a>
				<a href="/#sign_in"><div class="col loginButton">Login
				</div></a>
		</div>
	</div>

	</div>
	<div class="home-description-main">
		<div class="home-description-container">
		<div class="discriptionSubContainer">
			<i class="fa fa-money fa-fw mainDescIcon"></i>
			<div class="homeDescription">Always wondering at the end of the month where you could have saved that one extra buck. Let us help you in finding it</div>
		</div>
		<div class="discriptionSubContainer">
			<i class="fa fa-sort-amount-asc mainDescIcon" aria-hidden="true"></i>
			<div class="homeDescription">Catagorize your expenses easily and effectively and know where you could have saved </div>
		</div>
		<div class="discriptionSubContainer">
			<i class="fa fa-pie-chart mainDescIcon" aria-hidden="true"></i>
			<div class="homeDescription">Hard going through so much data no worries we are there to help. Vizualize all of your expenses through our in easy to understand graphs</div>
		</div>
		</div>
	</div>

</div>
	<div class="home-description-sub">
		<div class="home-description-container-sub">
		<div class="discriptionSubContainer">
			<i class="fa fa-user mainDescIcon" aria-hidden="true"></i>
			<div class="homeDescription">Step:1<br>
			Create you account<br> Your create your account don't worry its just one click away</div>
		</div>
		<div class="discriptionSubContainer">
			<i class="fa fa-plus mainDescIcon" aria-hidden="true"></i>
			<div class="homeDescription">Step:2<br>
			Add Your Transaction<br> Add your transactions daily or atleast once a week so that it doesn't heap up</div>
		</div>
		<div class="discriptionSubContainer">
			<i class="fa fa-calendar-check-o mainDescIcon" aria-hidden="true"></i>
			<div class="homeDescription">Step:3<br>
			Analyse your transaction<br>Go through your transaction whenever you feel like it</div>
		</div>
		</div>
	</div>