<!DOCTYPE html>
<html ng-app="expenseapp">
<head>
	<title>Index Page</title>
</head>
<body>
<h1>Index Page</h1>
<br><br>
<div class="navbar">
	<ui>
		<li><a href="#"> Home</a></li>
        <li><a href="#sign_in"> Sign In</a></li>
        <li><a href="#sign_up"> Sign_up</a></li>
    </ui>
</div>
<div ng-controller="main">
	{{ message }}

</div>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="src/js/main.js"></script>
</body>
</html>