@media only screen and (min-width: 200px) {
    .left_container { width: 66.66%; }
    .right_container { width: 33.33%; }
}
@media only screen and (min-width: 200px) {
    .left_container { width: 66.66%; }
    .right_container { width: 33.33%; }

}
@media only screen and (min-width: 200px) {
    .left_container { width: 66.66%; }
    .right_container { width: 33.33%; }
}
@media only screen and (min-width: 200px) {
    .left_container { width: 66.66%; }
    .right_container { width: 33.33%; }
}