$h-padding : 1.5em;

.col {
    padding: 0 $h-padding;
    margin-top: 10px;
}
.row .row {
    margin: 0 (-$h-padding);
}

.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}

.main-container
{
  background-color: $default_container_bacoground;
  position: relative;
  min-height: 400px;
  height: 100%;
  padding: 0 20px;
  @include set_border($navbar_active_background);
}

.container {
  margin: 0 auto;
  max-width: 800px;
  min-width: 250px;
  padding-top: 20px;
}

