$navbar_background : #445358;
$navbar_active_background : #44a4ad;
$navbar_default_color : #ecf0f1;
$navbar_active_color : #dbfaff;
$navbar-title-width:25px;
$navbar-standard-width:20px;

//border
$default_border_radii :4px;
$default-border-style : solid;
$default_border_width: 1px;

$default_container_bacoground: #ecf0f1;