$navbar_background : #262B2D;
//border
$default_border_radii :4px;
$default-border-style : solid;
$default_border_width: 1px;

$default_container_bacoground: #ecf0f1;
$default_fancy_color: #479AB6;
$navbar_active_background : #387F86;
$navbar_default_color : #ecf0f1;
$navbar_active_color : #dbfaff;
