.col {
  padding: 0 1.5em;
  margin-top: 10px; }

.row .row {
  margin: 0 -1.5em; }

.row:before, .row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

.clear {
  clear: both; }

.main-container {
  background-color: #ecf0f1;
  position: relative;
  min-height: 400px;
  height: 100%;
  padding: 0 20px;
  border-bottom: 1px solid #d5dde0; }

.container, .footerContainer, .loginContainer, .home-description-container {
  margin: 0 auto;
  max-width: 800px;
  min-width: 250px;
  padding-top: 20px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="text"], input[type="password"] {
  display: block;
  margin: 20px 0 20px 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
  padding: 5px 0 5px 0;
  appearance: none;
  box-shadow: none;
  border-radius: none; }

input[type="text"]:focus, input[type="password"] :focus {
  outline: none; }

input[type="radio"] {
  margin-top: 10px; }

input.radio:empty {
  margin-left: -999px; }

/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px; }

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2; }

input.radio:hover:not(:checked) ~ label {
  color: #888; }

/* toggle on */
input.radio:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #9CE2AE;
  background-color: #4DCB6D; }

input.radio:checked ~ label {
  color: #777; }

/* radio focus */
button {
  box-shadow: none;
  border: none; }

.userLoginButton {
  cursor: pointer;
  background: #2D5F70;
  text-align: center;
  color: #ecf0f1;
  font-size: 15px;
  border: 1px darker(#2D5F70, 8%) solid;
  width: 100%;
  float: left;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0; }
  .userLoginButton:hover {
    background: #214653;
    transition: all 0.3s ease; }
  .userLoginButton:active, .userLoginButton + .selected {
    background: #081215; }
  .userLoginButton:disabled {
    background: #A7AEB0; }

.leftExpenseDataHolder {
  width: 20%;
  min-height: 10px;
  float: left;
  margin-right: 2%;
  margin-left: 8%;
  height: 100%; }

.leftExpenseData {
  background-color: #f5f7f7;
  height: 100%; }

.rightExpenseDataHolder {
  min-width: 200px;
  min-height: 10px;
  width: 60%;
  float: left;
  height: 100%; }

.expanseSelectBar {
  background-color: #e6ebed;
  min-height: 30px;
  height: 100%;
  width: 100%;
  margin-bottom: 20px; }

.expenseFunctionName {
  width: 30%;
  float: left;
  min-height: 24px;
  height: auto;
  vertical-align: middle;
  text-align: center;
  margin-right: 5px;
  font-family: Trebuchet MS;
  padding-top: 8px;
  font-size: 15px;
  cursor: pointer;
  background: #dde4e6;
  text-align: center; }
  .expenseFunctionName:hover {
    background: #c6d2d5;
    transition: all 0.3s ease; }
  .expenseFunctionName:active, .expenseFunctionName + .selected {
    background: #94aab0; }
  .expenseFunctionName:disabled {
    background: #A7AEB0; }

.expenseHeader {
  min-width: 400px;
  margin: 10px 0 20px 0;
  text-align: center;
  font-size: 25px;
  font-family: Verdana;
  color: #387F86; }

.navbar-header {
  height: 100%;
  padding: 0 20px;
  background: #262B2D;
  border-bottom: 1px solid #387F86; }
  .navbar-header:before, .navbar-header:after {
    content: " ";
    display: table; }
  .navbar-header:after {
    clear: both; }

#toggle {
  display: none; }

.toggle {
  display: none; }

.menu {
  margin: 0 auto;
  max-width: 800px;
  height: 100%; }
  .menu:before, .menu:after {
    content: " ";
    display: table; }
  .menu:after {
    clear: both; }
  .menu > .navbar_title {
    list-style: none;
    float: left;
    height: 100%;
    font-size: 25px;
    color: #ecf0f1;
    font-weight: bold; }
  .menu > li {
    list-style: none;
    float: right;
    height: 100%; }
    .menu > li:before, .menu > li:after {
      content: " ";
      display: table; }
    .menu > li:after {
      clear: both; }
    .menu > li > a {
      height: 100%;
      display: block;
      padding: 10px 10px 10px 10px;
      text-decoration: none;
      font-size: 16px;
      font-family: Verdana;
      line-height: 1;
      color: #ecf0f1;
      margin-right: 5px; }
      .menu > li > a:before, .menu > li > a:after {
        content: " ";
        display: table; }
      .menu > li > a:after {
        clear: both; }
      .menu > li > a:hover {
        background: #387F86;
        color: #ecf0f1; }
      .menu > li > a:focus {
        background: #387F86; }

.clearfix:before {
  display: table;
  content: ""; }

.clearfix:after {
  display: table;
  content: "";
  clear: both; }

.nav {
  display: block;
  float: right;
  height: 100%; }

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
    opacity: 0;
    width: 100%;
    height: auto;
    height: auto; }
    .menu:before, .menu:after {
      content: " ";
      display: table; }
    .menu:after {
      clear: both; }
    .menu > li {
      clear: both;
      display: block;
      border: 4px #387F86;
      border-bottom-width: 1px;
      width: 100%;
      margin: 0;
      height: auto;
      margin-bottom: 5px; }
      .menu > li:before, .menu > li:after {
        content: " ";
        display: table; }
      .menu > li:after {
        clear: both; }
      .menu > li > a {
        display: block;
        width: 100%;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
        padding: 15px 15px; }
        .menu > li > a:before, .menu > li > a:after {
          content: " ";
          display: table; }
        .menu > li > a:after {
          clear: both; }
        .menu > li > a:hover {
          background: #387F86;
          color: #ecf0f1; }
        .menu > li > a:focus {
          background: #387F86; }
  .toggle {
    display: block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none; }
    .toggle:after {
      display: block;
      width: 200px;
      margin: 33px 0;
      padding: 10px 50px;
      -webkit-border-radius: 2px;
      text-align: center;
      font-size: 12px;
      color: #FFFFFF;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .toggle:hover:after {
      background: #45ABD6; }
  #toggle:checked + div .menu {
    display: block;
    opacity: 1; } }

@media only screen and (max-width: 479px) {
  .header > h1 {
    text-align: center;
    float: none; }
  .nav {
    float: none; }
  .toggle:after {
    float: none;
    text-align: center;
    width: 100%; } }

.footer {
  position: relative;
  min-height: 100px;
  height: 100%;
  margin-top: 20px;
  border-top-width: 1px;
  border-color: #262B2D;
  border-style: dashed;
  padding: 0 20px; }

.footerContainer {
  padding-top: 5px; }

.footerDataContainer {
  float: right; }
  .footerDataContainer > a {
    color: #479AB6;
    font-size: 12px; }

.homeParent {
  background: url(http://s1.picswalls.com/wallpapers/2014/08/11/money-desktop-wallpapers_090606472_192.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ecf0f1; }

.home-container {
  position: relative;
  padding: 0 20px;
  min-height: 200px; }

.loginButton, .signupButton {
  width: 40%;
  float: left;
  color: #D1E2E6;
  height: auto;
  padding: 10px 10px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.5em;
  margin: 10px 25px 0 25px;
  cursor: pointer;
  background: #45ABB5;
  text-align: center;
  opacity: .9;
  cursor: pointer; }
  .loginButton:hover, .signupButton:hover {
    background: #3a8f97;
    transition: all 0.3s ease; }
  .loginButton:active, .signupButton:active, .loginButton + .selected, .signupButton + .selected {
    background: #225459; }
  .loginButton:disabled, .signupButton:disabled {
    background: #A7AEB0; }

.signupButton {
  cursor: pointer;
  background: #45A0B5;
  text-align: center; }
  .signupButton:hover {
    background: #3a8697;
    transition: all 0.3s ease; }
  .signupButton:active, .signupButton + .selected {
    background: #224e59; }
  .signupButton:disabled {
    background: #A7AEB0; }

.loginContainer {
  max-width: 700px;
  min-width: 250px;
  text-align: center;
  padding-bottom: 100px; }

.buttonContainer {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center; }

.home-description-main {
  padding: 0 20px;
  min-height: 400px;
  height: 100%;
  background-color: #1C3738;
  opacity: .95; }

.home-description-container {
  max-width: 700px;
  min-width: 250px;
  text-align: center; }

.loginleftContainer, .loginrightContainer {
  width: 65%;
  min-height: 10px;
  min-width: 250px;
  height: auto;
  float: left; }

.loginrightContainer {
  width: 35%; }
  .loginrightContainer > input[type="text"] {
    width: 100%; }

.setFormTitle {
  margin: 20px 0 30px 0;
  text-align: center;
  font-size: 25px;
  font-family: Geneva;
  color: #479AB6; }

.userLoginButton {
  cursor: pointer;
  background: #2D5F70;
  text-align: center;
  color: #ecf0f1;
  font-size: 15px;
  border: 1px darker(#2D5F70, 8%) solid;
  width: 100%;
  float: left;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0; }
  .userLoginButton:hover {
    background: #214653;
    transition: all 0.3s ease; }
  .userLoginButton:active, .userLoginButton + .selected {
    background: #081215; }
  .userLoginButton:disabled {
    background: #A7AEB0; }

.leftExpenseTypeHolder {
  float: left;
  width: 45%;
  margin-right: 5%; }

.rightExpenseTypeHolder {
  float: left;
  width: 45%; }

.expenseTypeTitle {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold; }

.expense_type {
  width: 100%; }

.expenseDataContainer .leftDataViewer {
  width: 45%;
  margin-right: 5%;
  float: left; }

.expenseDataContainer .rightDataViewer {
  width: 45%;
  float: left; }

.forDisplayInput > input[type="text"] {
  text-align: center; }
